<div class="column">
        <ul id="incomes-list">
            {{#each this}}
                <li>{{title}} {{pay}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="column">
        <div id="form-display">
            <form class="addIncomeForm">
                <div>
                    <label for="income-name">Name of Income:</label><br>
                    <input type="text" name="income-name" id="income-name">
                </div>
                <div>
                    <label for="income-frequency">Frequency:</label><br>
                    <input type="text" name="income-frequency" id="income-frequency">
                </div>
                <div>
                    <label for="income-pay">Pay:</label><br>
                    <input type="text" name="pay" id="income-pay">
                </div>
                <div>
                <div id="income-priority" class="radio-display">
                    <input type="radio" class="radio" name="priority" value="Primary" id="primary" />
                    <label for="primary">Primary</label>
                    <input type="radio" class="radio" name="priority" value="Secondary" id="secondary" />
                    <label for="secondary">Secondary</label>
                </div>
                </div>
                <div>
                    <button type="submit">Add Income</button>
                </div>
            </form>
        </div>
    </div>