{{!-- incomes,
        expenses,
        user,
        loggedIn --}}
<div class="dashboard-header">
    <button id="showExpense">Show Expenses</button>
    <button id="showIncome">Show Income</button>
</div>
<div class="dashboard-body">
    <div class="column">
        <div class="money-section">
            <h2>Incoming</h2>
            <p id="total-incomes">{{incomes.0.total_pay}}</p>
        </div>
        <div class="money-section">
            <h2>Outgoing</h2>
            <p id="total-expenses">{{expenses.0.total_bills}}</p>
        </div>
        <div class="money-section">
            <h2>Difference</h2>
            <p id="difference">{{budgetDiff}}</p>
        </div>
    </div>

    <div id="user-id" hidden>{{userId}}</div>
    
    <div id="expenses" hidden>
        {{> expenses-form expenses}}
    </div>
    
    <div id="incomes" hidden>
        {{> incomes-form incomes}}
    </div>
    
</div>

<script src="/javascript/difference.js"></script>
<script src="/javascript/showPartial.js"></script>
<script src="/javascript/addExpense.js"></script>
<script src="/javascript/addIncome.js"></script>