<Div class=" container " id="dashboard-header">
  <h2>Welcome To your Questions Dashboard</h2><br>
  <button class="btn btn-primary mb-1 float-right" id="gotodashboard">Finance Dashboard</button>
</Div>

<div class="dashboard-body container">

  {{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ul>
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
        <a href="/forum-dash/edit/{{post.id}}" class="edit-link">Edit post</a>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}




  <div class="new-post-div">
    <a href="/forum-dash/new-post" class="w-50 btn add-comment-btn btn-primary mb-2  new-post-btn">+ New Post</a>
  </div>
</div>
<script src="/javascript/showPartial.js"></script>