<h2 class="container dashboard-header title-welcome">Here you can add a new Post!</h2>

<div class="dashboard-body container">
  <section>
    <a href="/forum-dash"> &larr; Back to dashboard</a>
    <form class="new-post-form">
      <h2>Create New Post</h2>
      <div>
        <label class="font-weight-bold" for="post-title">Title</label>
        <br>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label class="font-weight-bold" for="post-content">Content</label>
        <br>
        <textarea class="w-50" id="post-content" name="post-content"></textarea>
      </div>
      <button type="submit" class="btn add-comment-btn btn-primary mb-2">Create</button>
    </form>
  </section>
  
</div>

<script src="/javascript/add-post.js"></script>