<h2 class="title-welcome">Here you can add a new Post!</h2>

<section>
  <form class="new-post-form">
      <h2>Create New Post</h2>
    <div>
      <label for="post-title">Title</label>
      <br>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <br>
      <textarea id="post-content" name="post-content"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>