{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <h2>Please add a Comment!</h2>
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}