:root {
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
}

/* header start */
/* header {
    border-bottom: 1px solid var(--black);
    padding: 20px;
    position: relative;
}

#logo {
    margin: 20px;
}

nav {
    float: right;
    margin-right: 20px;
    position: relative;
    bottom: 25px;
} */
/* header end */

/* login/signup forms start */
#signUpDisplay {
    display: none;
    transition: 500ms;
    margin-top: 20px;
}
#loginBtn {
    width: 100px;
}

#showSignup {
    width: 150px;
    margin-left: 10px;
}

/* login/signup forms end */

/* dashboard */
.dashboard-header {
    width: 70%;
    margin: 0 auto;
}

.dashboard-body {
    margin-top: 20px;
}
.column {
    float: left;
    width: 25%;
    height: 400px;
    padding: 20px;
    border: 1px solid var(--black);
}

.money-section {
    margin-top: 20px;
}

/* dashboard body start */
#list {
    border: 1px solid var(--black);
    height: 400px;
    padding: 5px;
}
/* dashboard body end */

/* expence/income form start */
.addExpenseForm div,
.addIncomeForm div {
    margin-top: 10px;
}

.addExpenseForm label,
.addIncomeForm label {
    font-weight: 700;
}

.addExpenseForm input,
.addIncomeForm input,
select {
    width: 100%;
    height: 20px;
}

.radio-display {
    margin-bottom: 30px;
}

input[type="radio"] {
    width: auto;
    margin: 0 5px;
}

.radio-display label {
    line-height: 1px;
}

.addExpenseForm button,
.addIncomeForm button {
    width: 100%;
}